.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-blue);
}

.box {
  animation: loader 1.25s infinite;
  background-color: var(--color-green);
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes loader {
  0% {
    rotate: 0deg;
  }
  100% {
    border-radius: 50%;
    rotate: 180deg;
  }
}
