.container {
  min-height: 80vh;
  height: fit-content;
  background-color: #4831d4;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 6em;

  @media (max-width: 500px) {
    padding: 2em 1em;
  }
}
