.container {
    min-height: 100vh; 
    height: fit-content;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 6em;

    @media(max-width:500px){
        padding: 4em 2em;
    }
}
