.container {
  padding: 0 10vw;
  color: var(--color-green);
  flex: 1;
  position: relative;

  @media (max-width: 500px) {
    padding: 0;
  }
}

.svg1 {
  position: absolute;
  top: -100px;
  left: 50px;
  filter: blur(4px);

  @media (max-width: 768px) {
    display: none;
  }
}

.svg2 {
  position: absolute;
  bottom: -100px;
  left: 50px;
  filter: blur(4px);

  @media (max-width: 768px) {
    display: none;
  }
}

.post {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 16px;
  animation: drop 0.4s linear forwards;

  @media (max-width: 500px) {
    text-align: center;
    font-size: 32px;
  }

  &::after {
    content: ".";
    color: #eefeff;
  }
}

.about {
  line-height: 28px;
  color: #fff;
  animation: drop 0.4s linear forwards;

  @media (max-width: 500px) {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
  }
}

.flex {
  margin-top: 10vh;
  font-size: 12px;
  display: flex;
  justify-content: space-between;

  span {
    width: 120px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    line-height: 16px;
    animation: drop 0.4s linear forwards;
  }

  @media (max-width: 768px) {
    margin-top: 4vh;
  }

  @media (max-width: 500px) {
    text-align: center;
  }
}

@keyframes drop {
    0% {
        transform: translateY(-40px);
        opacity: 0;
    }
    50% {
        transform: translateY(-30px);
        opacity: 0.2;
    }
    65% {
        transform: translateY(-20px);
        opacity: 0.6;
    }
    75% {
        transform: translateY(-10px);
        opacity: 0.8;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}