.container {
    min-height: 80vh; 
    height: fit-content;
    background-color: #ccf381;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 6em;

    @media(max-width:500px){
        min-height: 100vh;
        padding: 4em 2em;
    }
}
