.c1 {
    height: 100vh;
    margin-bottom: 16px;
    background-color: #ba9d9d;
}

.c2 {
    height: 100vh;
    margin-bottom: 16px;
    background-color: #81ac8d;
}

.c3 {
    height: 100vh;
    margin-bottom: 16px;
    background-color: #b1a4b9;
}

.c4 {
    height: 100vh;
    margin-bottom: 16px;
    background-color: #abb59c;
}

.c5 {
    height: 100vh;
    margin-bottom: 16px;
}

.c6 {
    height: 100vh;
    background-color: #937c83;
}